body{
    margin: 0;
}
.topheader{
    background: #1CD1B0;
    color: black;
    padding: 10px;
}
.headerprincipal{
    color: black;
    padding: 10px;
    background-color: #00669f;
    margin-top: 0px;
}
.barramenu{
    padding: 10px;
    background: #001D2D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: end;
gap: 10px;
}
.barramenu a{
    text-decoration: none;
color: #f3f3f3;
}
main{
    background-color: #00669f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    border-radius: 10%;
}
form{
    display: flex;
    gap: 50px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
footer{
    background-color: #00669f;
    color: #f3f3f3;
    padding: 10px;
}