body{
    margin: 0;
}
.topheader{
    background: #1CD1B0;
    color: black;
    padding: 10px;
}
.headerprincipal{
    color: black;
    padding: 10px;
    background-color: #00669f;
    margin-top: 0px;
}
.barramenu{
    padding: 10px;
    background: #001D2D;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
display: flex;
justify-content: end;
gap: 10px;
}
.barramenu a{
    text-decoration: none;
color: #f3f3f3;
}
a :hover{
    cursor: pointer;
}

main{
    background-color: #00669f;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px;
    border-radius: 100px;
}
form{
    display: flex;
    gap: 50px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input, select, textarea {
    border-radius: 20px;
}
.botonagregar{margin: 20px;
    background-color: #1CD1B0;
    border: 0;
    color: #f3f3f3;
    border-radius: 20px;
    width: 200px;
    padding: 10px;
    font-size: 2rem;

}
hr{
    width: 100%;
}
footer{
    background-color: #00669f;
    color: #f3f3f3;
    padding: 10px;
}